h1 {
	display: inline-block;
}

.settings{
	display: inline-block;
	margin: 0 10%;
	font-size: 13px;
	float: right;
	text-align: center;
}

.module{
	font-family: helvetica;
	font-weight: lighter;
	font-variant-caps: all-small-caps;
	font-size: 40px;
	padding: 8% 2%;
	margin: 2%;
	cursor: pointer;
	border-radius: 15px;
	border: none;
}