h1{
	margin-left: 5% !important;
	margin-top: 2% !important;
}

.content-wrap{
	margin-top: 4%;
}

.module{
	font-family: helvetica;
	font-weight: lighter;
	font-variant-caps: all-small-caps;
	font-size: 50px;
	padding: 1%;
	cursor: pointer;
	border-radius: 15px;
	border: none;
}