h1, h2{
	margin-left: 5% !important;
	margin-top: 5% !important;
}

.content-wrap{
	width: 70%;
	margin: 10% auto;
}

.button:hover{
	cursor: pointer;
}

table, fieldset{
  box-shadow: 10px 7px 15px 10px rgba(0, 0, 0, 0.035);
  border-radius: 7px;
}

