h1{
	margin-left: 5% !important;
	margin-top: 20px !important;
}

body {
	margin-top: 5%;
}

.content-wrap{
	width: 70%;
	margin: 10% auto;
}

.button{
	background-color: lightgrey;
	color: white;
	font-size: 15px;
	padding: 7px 20px;
	margin-top: 3%;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}