h1, h2{
	margin-left: 5% !important;
	margin-top: 5% !important;
}

.content-wrap{
	width: 70%;
	margin: 10% auto;
}

.button:hover{
	cursor: pointer;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}