.module > div:first-child{
	width: 300px;
	height: 300px;
	border: none;
	transition: all 0.5s;
	border-radius: 50px;
}

/* CARD1 */
#card_img1 {
  background-image: url('../image/member_icon.png');
  background-repeat:no-repeat;
  background-color: #6eb9f7;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 36px 10px -20px rgba(0, 0, 0, 0.2);
}
#card_img1:hover{
	background-color: #2196F3;

}
.module.move > #card_img1 {
  	transform: translate(0,-20px);
}

/* CARD2 */
#card_img2 {
  background-image: url('../image/role_icon.png');
  background-repeat:no-repeat;
  background-color: #f7776e;
  background-position: 50% 30%;
  cursor: pointer;
  box-shadow: 0 36px 10px -20px rgba(0, 0, 0, 0.2);
}
#card_img2:hover{
	background-color:#F44336;
}
.module.move > #card_img2 {
  	transform: translate(0,-20px);
}

/* CARD3 */
#card_img3 {
  background-image: url('../image/inventory_icon2.png');
  background-repeat:no-repeat;
  background-color: #ffbf00;
  background-position: center;
  cursor: pointer;
  box-shadow: 0 36px 10px -20px rgba(0, 0, 0, 0.2);
}
#card_img3:hover{
	background-color: #FFEB3B;
}
.module.move > #card_img3 {
  	transform: translate(0,-20px);
}

/* CARD4 */
#card_img4 {
  background-image: url('../image/tasks_icon.png');
  background-size: 70%;
  background-repeat:no-repeat;
  background-color: #00C85A;
  background-position: 65% 50%;
  cursor: pointer;
  box-shadow: 0 36px 10px -20px rgba(0, 0, 0, 0.2);
}
#card_img4:hover{
	background-color: #66ffab;
}
.module.move > #card_img4 {
  	transform: translate(0,-20px);
}

.module > #card_content {
	position: absolute;
	transform: translate(0,-150px);
	width: 315px;
  	z-index: -1;
	transition: all 0.25s;
 	text-align: center; 
	color:black;
	text-decoration: none;
}

.module.move > #card_content {
  	transform: translate(0,-70px) scale(1.1);
}