h1{
	font-family: helvetica neue, sans-serif;
	font-size: 200%;
	font-weight: lighter;
	margin-left: 5%;
	margin-top: 10px;
}


body {
	margin-top: 15%;
	font-family: Helvetica Neue, Arial, serif;
	font-variant-caps:all-petite-caps;
	font-size: 200%;
}

.content-wrap{
	width: 50%;
	margin: 0 auto;
}

#login_button{
	background-color: darkgrey;
	color: white;
	padding: 38px;
	font-size: 20px;
	border: none;
	margin: 8px 6px;
	cursor: pointer;
	border-radius: 5px;
	float: right;
}

form{
 text-align: center
}

input[type=text] {
	
   width: 45%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}

input[type=password] {
	
   width: 45%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
}