#login_button{
	color: white;
	font-size: 20px;
	padding: 1% 10%;
	margin-top: 5%;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

form label{
	font-variant-caps: all-small-caps;
}

/*
input[type=text] {
	
   width: 70%;
   padding: 10px 20px;
   margin: 8px;
   box-sizing: border-box;
	font-size: 20px;

}

input[type=password] {
	
   width: 70%;
   padding: 10px 20px;
   margin: 8px;
   box-sizing: border-box;
	font-size: 20px;

}
*/